.container{
    height: 400px;
    width: 100%;
    border: 1px solid black;
    background-color: chocolate;
    align-items: center;
    
}
img{
    width: 30%;
    height: 30%;
    margin-top: 50px;
}