.App {
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(to bottom, #00A19D 50%, #FFF8E5 50%);
  height: 100vh;
  
}

.cw{
  width: 100px;
  height: 100px;
}
